$background: var(--background);
$background-secondary: var(--background-secondary);
$text-primary: var(--text-primary);
$text-reverse: var(--text-reverse);
$text-error: var(--text-error);

$buttonBackground: var(--button-background);
$buttonText: var(--button-text);

$border-primary: var(--border-primary);
