.ArticleBody {
  max-width: 42rem;
  margin: 0 auto;

  pre {
    background-color: #282c34;
    font-size: 14px;
    margin-bottom: 4.1rem;
    padding: 2rem 0 0.5rem 0.4rem;
    border-radius: 12px;
    overflow: hidden;
    background-image: url(/img/window-buttons.png);
    background-repeat: no-repeat;
    background-size: 44px 10px;
    background-position: 16px 14px;
    margin-top: 40px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  /* Add these styles to enhance link visibility */
  a {
    color: #1e90ff; /* Dodger blue for better visibility on dark backgrounds */
    text-decoration: underline; /* Underline links */
    font-weight: bold; /* Make links bold */
  }

  a:hover {
    color: #00bfff; /* Lighter blue on hover */
    text-decoration: none; /* Remove underline on hover */
  }

  /* Exclude anchors nested inside heading elements */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }
}
