.BlogPageHeader {
  display: flex;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 3rem;

  @media (min-width: 768px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__description {
    margin: 0 auto;
    @media (min-width: 1024px) {
      width: 66.666667%;
    }
  }
}
