.Button {
  display: inline-flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #ffffff;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  gap: 0.5rem;

  :hover {
    background-color: #f3f4f6;
  }
}
