@import "../styles/variables";

.FeaturedProjects {
  display: grid;
  margin-bottom: 8rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  gap: 2rem;
  row-gap: 5rem;

  &__preview {
    display: block;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid $text-primary;
  }
}
