.flexContainer {
  display: flex;
  flex-direction: var(--flex-direction, row);
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, center);
  gap: var(--gap, 0);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
