@import '../styles/variables.scss';

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: $primary;

  &:hover {
    transform: scale(1.2);
  }
}
