.MainHeader {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 640px;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin-top: -2.5rem;
    }
  }

  &__paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;

    @media (min-width: 768px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
