@import "../styles/variables";

.NewsletterForm {
  padding: 3rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__input {
    padding: $padding-small;
    border: $border-primary;
    border-radius: 4px;
    font-size: 1rem;
    flex: 1;
    border-radius: 0.5rem;
    background-color: transparent;
  }

  &__message {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    &--success {
      color: $success;
      background-color: $success-light;
    }
    &--error {
      color: $error;
      background-color: #f2dede;
    }
  }
}
