// @import "../variables.scss";

.Paragraph {
  margin-bottom: 8px;

  &--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    margin: 0;
  }

  &--bold {
    font-weight: bold;
  }

  &--small {
    font-size: 12px;
  }

  &--medium {
    font-size: 14px;
  }

  &--large {
    font-size: 24px;
  }
}
