.ProjectHeader {
  display: flex;
  padding: 1rem 2.5rem;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 56rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #e5e7eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}
