.PullRequestsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;

    &:hover {
      border: none;
      box-shadow: 0 0 0 3px rgba(172, 168, 38, 0.409);
    }
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
  }

  &__tag {
    font-size: 10px;
  }
}
