.PullRequestsGrid {
  &__title {
    text-align: center;
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem 1rem;

    &:hover {
      border: none;
      box-shadow: 0 0 0 3px rgba(169, 169, 169, 0.244);
    }
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
  }

  &__tagWrapper {
    display: flex;
  }

  &__tag {
    font-size: 10px;
  }

  &__commitsTotalCount {
    font-size: 12px;
    font-weight: 300;
  }
}
