.Tag {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  background-color: #dbeafe;
  font-size: 12px;
  border-radius: 0.25rem;
  width: fit-content;

  color: black;

  &:hover {
    border: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }
}
