/* Variables for spacing and dimensions */
$spacing-small: 1.5rem;
$spacing-medium: 2.5rem;
$max-width: 800px;

/* About page styles */
.About {
  max-width: $max-width;
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: 1fr 2fr;
      gap: $spacing-medium; /* Use variable for gap */
    }
  }

  &__title {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: $spacing-medium; /* Use variable for margin */
      margin-bottom: $spacing-medium; /* Use variable for margin */
      font-size: 2.25rem;
      line-height: 2.5rem;
      text-align: left;
    }
  }

  &__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-top: $spacing-medium; /* Use variable for margin */
    margin-bottom: $spacing-small; /* Use variable for margin */

    @media (min-width: 768px) {
      font-size: 1.75rem;
      line-height: 2.25rem;
      text-align: left;
    }
  }

  &__image {
    border-radius: 9px;
    margin-bottom: $spacing-small; /* Use variable for margin */
    margin-top: $spacing-small; /* Use variable for margin */

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
