.ArticleBody {
  max-width: 42rem;
  margin: 0 auto;

  pre {
    background-color: #282c34;
    font-size: 14px;
    margin-bottom: 4.1rem;
    padding: 2rem 0 0.5rem 0.4rem;
    border-radius: 12px;
    overflow: hidden;
    background-image: url(/img/window-buttons.png);
    background-repeat: no-repeat;
    background-size: 44px 10px;
    background-position: 16px 14px;
    margin-top: 40px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}
