.FeaturedPosts {
  display: flex;
  margin-bottom: 8rem;
  flex-direction: column;
  gap: 3.5rem;

  @media (min-width: 768px) {
    column-gap: 4rem;
  }
  @media (min-width: 1024px) {
    max-width: 800px;
    column-gap: 8rem;
    margin: 0 auto 8rem;
  }
}
