@import "../styles/variables.scss";

.MainNavBar {
  padding: 1.25rem;
  margin-bottom: 2rem;

  li {
    list-style-type: none;
  }

  @media (min-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      justify-content: space-between;
    }

    &--isRootPath {
      @media (min-width: 768px) {
        justify-content: center;
      }
    }
  }

  &__logo {
    font-size: 20px;
    line-height: 2rem;
    font-weight: 600;
    white-space: nowrap;
    align-self: center;
    text-transform: uppercase;
  }

  &__hamburger {
    display: inline-flex;
    color: $text-primary;
    font-size: 0.875rem;
    line-height: 1.25rem;
    align-items: center;
    border-radius: 0.5rem;
    margin-left: auto;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__menuItems {
    width: 100%;

    &--hidden {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
      width: auto;
    }
  }

  &__itemsList {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      font-size: 1rem;
      line-height: 1.25rem;
      font-weight: 500;
      gap: 25px;
    }
  }

  &__item {
    display: block;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    border-radius: 0.25rem;

    text-transform: uppercase;
    font-weight: 300;

    @media (min-width: 768px) {
      padding: 0;
      background-color: transparent;
    }

    :hover {
      text-decoration: underline;
    }
  }

  &__theme {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
}
