.PageHeader {
  padding-bottom: 3rem;
  display: flex;
  margin-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    padding: 6rem 1.25rem;
  }

  &__description {
    margin: 0 auto 20px;
  }

  &__button {
    margin: 0 auto;
  }
}
