@import "../styles/variables";

.Tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
  margin-right: 0.5rem;
  background-color: $background-secondary;
  font-size: 11px;
  border-radius: 0.25rem;
  width: fit-content;
  color: $text-reverse;

  &:hover {
    border: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }

  &--merged {
    background-color: #8957e557;
    color: $text-primary;
  }

  &--closed {
    background-color: #da363353;
    color: $text-primary;
  }

  &--open {
    background-color: #2386374d;
    color: $text-primary;
  }
}
