@import '../../styles/variables.scss';

.TagsList {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  &__title {
    font-size: 0.875rem;
  }

  &__wrapper {
    display: flex;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 640px) {
      overflow-y: hidden;
      height: 23px;
    }
  }
}
