/* @see: https://colorhunt.co/palette/22283131363f76abaeeeeeee */

:root {
  /* Color */
  --primary: #272b54;
  --secondary: #767586;
  --success: #2e7d32;
  --success-light: rgba(88, 194, 93, 0.407);
  --warning: #f57c00;
  --error: #c62828;

  /* Background */
  --background: white;
  --background-secondary: #112146e4;

  /* Text */
  --text-primary: #0f172a;
  --text-reverse: rgb(237, 237, 237);
  --text-error: #ff0000;
  --text-secondary: royalblue;
  --accent: purple;

  /* Button */
  --button-background: #0f172a;
  --button-text: white;

  /* Border */
  --border-primary: 1px solid #ddd;
}

[data-theme='dark'] {
  /* Color */
  --primary: rgb(237, 237, 237);
  --secondary: #767586;

  /* Background */
  --background: #222831;
  /* --background: #1f2028; */
  --background-secondary: rgb(237, 237, 237);

  /* Text */
  --text-primary: #e0e0e0;
  --text-reverse: #121212;
  --text-error: #cf6679;
  --text-secondary: #b0b0b0;
  --accent: #bb86fc;

  /* Button */
  --button-background: #03dac6;
  --button-text: #121212;

  /* Border */
  --border-primary: 1px solid rgba(152, 152, 152, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background-color: rgba(187, 187, 187, 0.355);
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  font-weight: 200;
  font-size: 15px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

li {
  display: list-item;
  line-height: 1.5rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
