@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply py-10 text-3xl;
}

p {
  @apply text-xl font-light leading-8;
}

.post-body pre {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 4px;
  overflow: auto;
  font-size: 14px;
  margin-bottom: 4.1rem;
  padding: 2rem 0 0.5rem 0.4rem;
  border-radius: 12px;
  overflow: hidden;
  background-image: url(../images/window-buttons.png);
  background-repeat: no-repeat;
  background-size: 44px 10px;
  background-position: 16px 14px;
}
