body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  line-height: 2rem;
}

:root {
  --background: white;
  --text-primary: #0f172a;
  --text-reverse: rgb(237, 237, 237);
  --text-error: #ff0000;
  --text-secondary: royalblue;
  --accent: purple;
  --button-background: #0f172a;
  --button-text: white;
  --border-primary: #0f172a24;
}

[data-theme="dark"] {
  --background: #0f172a;
  --text-primary: rgb(237, 237, 237);
  --text-reverse: #0f172a;
  --text-error: #e80505f6;
  --text-secondary: grey;
  --accent: darkred;
  --button-background: white;
  --button-text: #0f172a;
  --border-primary: rgba(255, 255, 255, 0.094);
}
