$background: var(--background);
$background-code: var(--background-code);

$text-primary: var(--text-primary);
$text-error: var(--text-error);

$fill-primary: var(--fill-primary);
$fill-secondary: var(--fill-secondary);

$border-color: var(--border-primary);

$buttonBackground: var(--button-background);
$buttonText: var(--button-text);
